.data-container {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;

  .label {
    display: flex;
    font-family: "Roboto";
    font-size: 14px;
    color: rgb(187, 187, 187);
    align-items: center;

    .legend {
      height: 4px;
      width: 4px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .data {
    font-size: 14px;
    font-family: "Lato";
  }
}
