.sidebar {
  width: 400px;
  background-color: #252636;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;

  .title {
    padding-bottom: 0;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 25px 25px 0 25px;
  }

  .data-summary {
    overflow: auto;
    background-color: #2a2733;
    padding: 25px 15px 25px 25px;
  }

  .loading {
    height: 100%;
    color: white;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
