.country-data {
  background-color: #1a2637;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;

  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .country-name {
      color: whitesmoke;
      font-family: "Roboto";
    }

    .dropdown {
      display: flex;
      align-items: center;
    }

    .confirmed {
      color: hotpink;
      font-family: "Lato";
    }
  }
}
